#background_image {
  background-image: url(../images/greenhouse.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}

#site-name {
  color: white !important;
  font-size: 55px;
  margin-top: 18px;
  margin-left: 30px;
}

#header-group {
  margin-left: 0px;
  margin-right: 0px;
  height: 80px;
}

#header-group-inner {
  padding-bottom: 0px;
  padding-top: 0px;
}

#header-group-wrapper {
  background-color: lightblue;
}
