#background_image {
  background-image: url(../images/greenhouse.jpg) !important;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
}

body {
  font-family: 'Caudex', serif;
}

#site-name {
  font-size: 75px;
  margin-top: 30px;
  margin-left: 30px;
  font-family: 'Niconne', cursive;
}

#header-group {
  margin-left: 0px;
  margin-right: 0px;
  height: 80px;
}

#site-name a:link, #site-name a:visited {
  color: #F1EDED;
}

#header-group-inner {
  padding-bottom: 0px;
  padding-top: 0px;
}

#header-group-wrapper {
  background-color: #9dbab5;
}

#footer-wrapper, #page-bottom {
  background-color: #9dbab5;
  border-top: 0px;
}

html {
  background-color: #9dbab5;
  color: #5e5467;
  font-family: 'Caudex', serif;
}


#product-details, h2, h1 {
  font-family: 'Caudex', serif;
  color: #5e5467;
}

a, a:link, a:visited{
  color: #a4635d;
}

li a.active {
  color: #838553;
  font-family: 'Caudex', serif;
}

input#edit-submit {
  background-color: #e2e6d8;
  font-family: 'Caudex', serif;
}

#block-system-main-menu {
  float: right;
  text-align:right;
}
